body {
  display: flex!important;
  min-height: 100vh!important;
  flex-direction: column!important;
}

/* Preloader */
.preloader-wrapper {
  margin: 0 auto; 
}
.preloader-wrapper-pre {
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  top: 0!important;
  z-index: 2000; 
}
.preloader-progress-text {
  position:fixed;
  text-align: center;
  width: 100%;
  z-index: 2001;
}

/* Login */
.login-box{
  display: inline-block; 
  padding: 32px 35px 0px 35px; 
  background: rgba(210, 210, 210, 0.83)!important;
}

.body-login{
  background-image: linear-gradient(to right, rgba(245, 246, 252, 0.5), rgba(19, 85, 12, 1)), url('../images/forest.jpg');
  background-size:cover;
}

/* Ocultar boton de drillup de sunburst (override de la libreria) */
.highcharts-drillup-button {
  display: none
}

/* Modals de tamanio personalizado */
.wide-modal {
  width: 85% !important;
  min-width: 85% !important;
  height: 85% !important; 
  min-height: 85% !important; 
  top: 7.5% !important;
  border-radius: 10px;
}

.full-modal {
  width: 98% !important;
  min-width: 98% !important;
  height: 98% !important; 
  min-height: 98% !important;  
  top: 1% !important;
  border-radius: 10px;
}
