<div class="container">
  <!-- Lista de noticias -->
  <div class = "section"> 
    <h5 class="row" ng-if="news">Comunicados</h5>
    <table class="highlight" ng-if="users">
      <thead>
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th>Publicado</th>
          <th>Menu</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="(key,row) in news track by $index">
          <td>{{row.title}}</td>
          <td>
            <div class="chip">
              <img src="{{users[row.author].avatar}}">
              {{users[row.author].name}}
            </div>
          </td>
          <td>{{readableTime(row.timestamp)}}</td>
          <td width="1%" style="white-space:nowrap;">
            <a title="Editar" class="waves-effect waves-light blue darken-4 btn-small btn-floating z-depth=3 modal-trigger" data-target="edit_modal" ng-click="select(key)"><i class="material-icons">edit</i></a>
            <a title="Ver" class="waves-effect waves-light green darken-4 btn-floating btn-small z-depth=3 modal-trigger" data-target="view_modal" ng-click="select(key)"><i class="material-icons">visibility</i></a>
            <a title="Eliminar" class="waves-effect waves-light red darken-4 btn-floating btn-small z-depth=3 modal-trigger" data-target="confirm_modal" ng-click="select(key)"><i class="material-icons">delete</i></a>
            <a title="Subir" class="waves-effect waves-light teal darken-2 btn-floating btn-small z-depth=3" ng-click="moveSelected(true,key);"><i class="material-icons">vertical_align_top</i></a>
            <a title="Bajar" class="waves-effect waves-light teal darken-2 btn-floating btn-small z-depth=3" ng-click="moveSelected(false,key);"><i class="material-icons">vertical_align_bottom</i></a>
          </td>
        </tr>      
      </tbody>
    </table>
  </div>


  <div class="fixed-action-btn">
    <a title="Nueva" class="btn-floating btn-large green darken-3 pulse modal-trigger" data-target="edit_modal" ng-click="select()"><i class="large material-icons">add</i></a>
  </div>
</div>


<div id="edit_modal" class="modal full-modal modal-fixed-footer">
  <div class="modal-content">
    
    <h5>Editor de noticias</h5>

    <div class="row">
        <div id="quill_container"></div>
    </div>
            
    <div class="row">
        <div class="col s4">
          <label>
            <input type="checkbox" ng-model="scheduledNew"/>
            <span>Programar</span>
          </label>
        </div>
        <div class="col s4">
          <input id="schedule_date" type="date" ng-show="scheduledNew">
        </div>
        <div class="col s4">
          <input id="schedule_time" type="time" ng-show="scheduledNew">
        </div>
      </div>
  </div>

  <div class="modal-footer">      
    <a class="modal-close waves-effect waves-white btn red">Cancelar</a>
    <a class="waves-effect waves-white btn green" ng-click="saveSelected()">Publicar</a>
  </div>
</div>



<div id="view_modal" class="modal wide-modal">
  <div class="modal-content">
    <h2>Novedades</h2> 
    <div class="card hoverable z-depth-1">
        <div class="card-content">                         
            <div class="right chip">
                <img src="{{users[selected.author].avatar}}">
                Publicado {{relativeTime(selected.timestamp)}} por {{users[selected.author].name}}
            </div>
            <br>
            <div ng-bind-html=selected.content></div>
        </div>
    </div>   
  </div>
</div>

<div id="confirm_modal" class="modal">
  <div class="modal-content">
    
    <h5>Confirme la operación</h5>
    <p>¿Está seguro que desea eliminar la noticia seleccionada?</p>
    <p>Esta operación no se puede deshacer.</p>
  
  </div>

  <div class="modal-footer">      
    <a class="modal-close waves-effect waves-white btn green">Cancelar</a>
    <a class="waves-effect waves-white btn red" ng-click="deleteSelected()">Eliminar</a>
  </div>
</div>