<div class="container">
    <h4>Probador de circuitos lógicos
        <sup class="modal-trigger" style="cursor: pointer" data-target="tutorial_modal">
            <i class="small material-icons">help</i>
        </sup>
    </h4>
</div>

<center>
    <div class="row" ng-if="wssFound">
        <div class="input-field col s3 offset-m4">
            <select id="portSelect">
                <option value="" selected>Elija una opción</option>
                <option value="{{key}}" ng-repeat="(key,port) in serialPorts">{{port.comName}}</option>
            </select>
        </div>
        <div class="col s2">
            <a class="waves-effect waves-white btn green darken-4" ng-click="connect()">Conectar</a>
        </div>
    </div>
    <div class="row">
        <div class="card hoverable z-depth-1 col s12 m4 offset-m4">
            <div class="card-content">
                <div clas="row">
                    <div class="col s6">
                        <p><b>Salidas</b></p>
                    </div>
                    <div class="col s6">
                        <p><b>Entradas</b></p>
                    </div>
                </div>
                <div class="row" ng-repeat="(idx,item) in tester">
                    <div class="switch col s6">
                        <label>Off<input type="checkbox" ng-model="item.switch"><span class="lever"></span>On</label>
                    </div>
                    <div class="led-box col s6">
                        <label>
                            <div class="led-red {{item.led  ? 'led-on':'led-off'}}"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>

<div id="tutorial_modal" class="modal">

    <div class="modal-content">
        <h3>Probador de circuitos lógicos</h3>

        <p>Instrucciones de uso:</p>

        <ol>
            <li><a href="https://nodejs.org/es/download/">Descargar</a> e instalar NodeJS</li>
            <li>Conectar el probador al puerto USB.</li>
            <li>Descargar <a href="https://www.cipressus.uns.edu.ar/assets/serialPortServer.js">serialPortServer.js</a> y ejecutar con NodeJS</li>
            <li>Refrescar esta página.</li>
            <li>Seleccionar el puerto serie del probador y la velocidad.</li>
            <li>Click en "Conectar".</li>
        </ol>
    </div>
</div>