<div class="container">
   
    <h3>Novedades</h3> 

    <div class="card hoverable z-depth-1" ng-repeat="entry in news">
        <div class="card-content" ng-show="entry.timestamp < now"> 
            <div class="right chip">
                <img src="{{users[entry.author].avatar}}">
                Publicado {{relativeTime(entry.timestamp)}} por {{users[entry.author].name}}
            </div>
            <h3>{{entry.title}}</h3>
            <div ng-bind-html=entry.content></div>
        </div>
    </div>    

</div>