<div class="container">

    <h3>Novedades</h3>

    <div class="card hoverable z-depth-1" ng-repeat="entry in news" ng-show="entry.timestamp < now">
        <div class="right chip">
            <img src="{{users[entry.author].avatar}}">
            Publicado {{relativeTime(entry.timestamp)}} por {{users[entry.author].name}}
        </div>
        <div class="card-content">
            <h5><b>{{entry.title}}</b></h5>
            <div class="row" ng-bind-html=entry.content></div>
        </div>
    </div>

</div>


<div id="test_modal" class="modal {{test_FS ? 'wide-modal' : ''}} modal-fixed-footer">
    <div class="modal-content">
        <h5>Test Felder-Silverman sobre estilos de aprendizaje.</h5>
        <div ng-show="testStatus==0">
            <p>Si dispone de unos minutos, nos gustaría que complete un test conformado por un cuestionario de 44
                preguntas.</p>
            <p>Este test evaluará su estilo de aprendizaje de preferencia y la magnitud de esa preferencia.</p>
            <p>Al finalizar, podrá consultar los resultados en su perfil.</p>
            <br>
            <p>¿Desea continuar en este momento?</p>
        </div>

        <div ng-show="testStatus==1 || testStatus==2">
            <p>Lea con atención y responda las siguientes preguntas seleccionando la respuesta que mejor describa lo que
                le ocurre. Si ambas opciones parecen aplicarse a usted, seleccione aquella que se aplique más
                frecuentemente.</p>
            <ul>
                <li ng-repeat="quest in test_FS track by $index"
                    class="{{incomplete[$index] ? 'red-text' : 'black-text'}}">
                    <p><b>{{$index+1}}.-</b> <a class="black-text" ng-bind-html="quest.text"></a></p>
                    <span>
                        <p>
                            <label ng-repeat="optionText in quest.options track by $index">
                                <input ng-checked="results.answers[$parent.$index] == $index"
                                    name="quest_{{$parent.$index}}" type="radio"
                                    id="opt_stat_{{$parent.$index}}_{{$index}}"
                                    ng-click="putOption($parent.$index, $index)" />
                                <span for="opt_stat_{{$parent.$index}}_{{$index}}">{{optionText}}</span>
                                <br>
                            </label>
                        </p>
                    </span>
                </li>
            </ul>
        </div>

        <test-results answers="{{testFSAnswers}}" ng-show="testStatus==3"></test-results>
        
    </div>

    <div class="modal-footer">
        <a class="modal-close waves-effect waves-white btn red darken-3" ng-show="testStatus==0">Más tarde</a>
        <a class="waves-effect waves-white btn green darken-3" ng-click="loadTest()"
            ng-show="testStatus==0">Continuar</a>
        <a class="waves-effect waves-white btn green darken-3 {{testStatus==2 ? '':'disabled'}}"
            ng-click="saveTestResults()" ng-show="testStatus==1 || testStatus==2">Evaluar</a>
        <a class="modal-close waves-effect waves-white btn green darken-3" ng-show="testStatus==3">Finalizar</a>
    </div>
</div>