<div class="container">
  <h4>Mapa de Karnaugh interactivo
    <sup class="modal-trigger" style="cursor: pointer" data-target="tutorial_modal">
      <i class="small material-icons">help</i>
    </sup>
  </h4>
  <div>
    <div class="card hoverable z-depth-1">
      <div class="card-content" id="myKarnaughMap"></div>
    </div>
  </div>
</div>

<div id="tutorial_modal" class="modal">

  <div class="modal-content">
      <h3>Mapa de Karnaugh interactivo</h3>

      <p><a href="https://www.mathematik.uni-marburg.de/~thormae/lectures/ti1/code/karnaughmap/index.html">Proyecto original</a></p>
  </div>
</div>