<div class="container">
    <h4>Simulador de circuitos
        <sup class="modal-trigger" style="cursor: pointer" data-target="tutorial_modal">
            <i class="small material-icons">help</i>
        </sup>
    </h4>

    <div class="card hoverable z-depth-1" id="simcir" style="width: 100%;height: 75vh;"></div>

    <div>
        <a class="right waves-effect waves-white btn green darken-3 modal-trigger" data-target="save_modal" ng-click="updateFields()">Guardar</a>
        <a class="right waves-effect waves-white btn green darken-1" ng-click="getSimulations()">Abrir</a>
    </div>
</div>

<div id="tutorial_modal" class="modal">

    <div class="modal-content">
        <h3>Simulador de circuitos</h3>

        <p>Instrucciones de uso:</p>

        <ol>
            <li>Elija un dispositivo de la lista y arrastre hacia la derecha.</li>
            <li>Conecte entradas con salidas arrastrando.</li>
            <li>Para desconectar un nodo, haga click en la entrada.</li>
            <li>Para borrar un componente, arrastre hacia la barra de herramientas.</li>
            <li>Ctrl+Click (command+Click en Mac) para alternar la vista de circuito o código.</li>
            <li>Doble click en una etiqueta para renombrar dispositivo.</li>
            <li>Doble click en una librería para abrir el circuito que contiene.</li>
        </ol>

        <p><a href="https://github.com/kazuhikoarase/simcirjs">Documentación</a></p>
    </div>
</div>

<div id="load_modal" class="modal">
    <div class="modal-content">
        <h5>Abrir simulación</h5>
        <table class="highlight">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Modificado</th>
                <th>Componentes</th>
              </tr>
            </thead>
      
            <tbody>
              <tr ng-repeat="(key,row) in simulations track by $index" style="cursor:pointer" ng-click="loadCircuit(key)">
                <td>{{row.name}}</td>
                <td>{{readableTime(row.timestamp)}}</td>
                <td>{{row.size}}</td>
              </tr>      
            </tbody>
          </table>
    </div>
    <div class="modal-footer">      
        <a class="modal-close waves-effect waves-white btn green darken-3">Cancelar</a>
    </div>
</div>

<div id="save_modal" class="modal">
    <div class="modal-content">
        <h5>Guardar simulación</h5>
        <div class="input-field">
            <input id="filename" type="text" ng-model="circuitFileName">
            <label for="filename">Nombre</label>
        </div>
    </div>
    <div class="modal-footer">      
        <a class="modal-close waves-effect waves-white btn red darken-3">Cancelar</a>
        <a class="waves-effect waves-white btn green darken-3" ng-click="saveCircuit()">Guardar</a>
      </div>
</div>
