<div class="container">

  <h3>Descargables</h3>

  <ul class="collapsible">
    <li ng-repeat="(key,folder) in sources track by $index">
      <div class="collapsible-header"><i class="material-icons">expand_more</i>{{folder.name}}</div>
      <div class="collapsible-body">
        <table class="highlight" style="max-width:100%;overflow-x:auto;display:inline-block;">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tamaño</th>
              <th>Formato</th>
              <th>Subido</th>
              <th>Menu</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="(key2,row) in sources[key].files" ng-click="downloadFile(key2)">
              <td class="truncate">{{row.name}}</td>
              <td>{{readableFileSize(row.size,true)}}</td>
              <td>{{row.format | lowercase }}</td>
              <td>{{readableTime(row.uploaded)}}</td>
              <td width="1%" style="white-space:nowrap;">
                <a title="Descargar" class="waves-effect waves-light green darken-3 btn-small btn-floating z-depth=3"
                  target="_blank" rel="noopener noreferrer" href="{{row.link}}"><i class="material-icons">get_app</i></a>
                <a ng-show="row.format=='pdf'" title="Ver" class="waves-effect waves-light brown darken-3 btn-small btn-floating z-depth=3"
                  ng-click="openPdfViewer(row.link)"><i class="material-icons">visibility</i></a>
                <a ng-show="row.format=='jpg'||row.format=='jpeg'||row.format=='png'" title="Ver" class="waves-effect waves-light brown darken-3 btn-small btn-floating z-depth=3"
                  ng-click="openImage(row.link)"><i class="material-icons">visibility</i></a>
                <a ng-show="user.admin" title="Eliminar" class="waves-effect waves-light red darken-3 btn-small btn-floating z-depth=3 modal-trigger"
                  data-target="confirm_delete_modal" ng-click="deleteFile(key,key2)"><i class="material-icons">delete</i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>

</div>


<div class="fixed-action-btn" ng-show="user.admin">
  <a title="Agregar" class="btn-floating btn-large green darken-1 pulse modal-trigger" data-target="files_modal"><i
      class="large material-icons">add</i></a>
</div>

<div id="files_modal" class="modal" ng-show="user.admin">
  <div class="modal-content">
    <h4>Subir archivos</h4>

    <div class="input-field">
      <input class="autocomplete" id="source_name_input" type="text" ng-model="sourceName">
      <label for="source_name_input">Carpeta</label>
    </div>
    <div class="file-field input-field">
      <div class="btn blue-grey darken-3">
        <span>Elegir archivos</span>
        <input id="filesInput" type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input id="filesInputText" class="file-path validate" type="text">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-white btn grey">Cancelar</a>
    <a class="waves-effect waves-white btn blue-grey darken-3" ng-click="pushFiles(sourceName)">Guardar</a>
  </div>
</div>

<div id="confirm_delete_modal" class="modal" ng-show="user.admin">
  <div class="modal-content">
    <h5>Confirme la operación</h5>
    <p>¿Está seguro que desea eliminar el archivo?</p>
    <p><b>Nombre: </b>{{fileToDelete.name}}</p>
    <p><b>Formato: </b>{{fileToDelete.format}}</p>
    <p><b>Subido: </b>{{readableTime(fileToDelete.uploaded)}}</p>
    <br>
    <p>Esta operación no se puede deshacer.</p>
  </div>

  <div class="modal-footer">
    <a class="modal-close waves-effect waves-white btn grey">Cancelar</a>
    <a class="waves-effect waves-white btn blue-grey darken-3" ng-click="confirmDelete()">Eliminar</a>
  </div>
</div>

<div id="pdf_viewer_modal" class="modal full-modal modal-fixed-footer">
  <div class="modal-content">
    <canvas id="pdf_viewer_canvas" style="width: 100%"></canvas>
  </div>
  <div class="modal-footer">
    <a class="left modal-close waves-effect waves-white btn blue-grey darken-1">Volver</a>
    <a class="waves-effect waves-white btn blue-grey darken-2 {{currentPage==1 ? 'disabled':''}}" ng-click="prevPdfPage()">Anterior</a>
    <a class="waves-effect waves-white btn blue-grey darken-3 {{currentPage==maxPages ? 'disabled':''}}" ng-click="nextPdfPage()">Siguiente</a>
  </div>
</div>

<div id="image_viewer_modal" class="modal wide-modal">
  <div class="modal-content">
    <img id="image_viewer" style="width:100%">
  </div>
</div>