<div class="container">

    <h3>Estadísticas</h3>

    <div class="card hoverable z-depth-1">
        <div class="card-content">
            <div id="barplot_container"></div>
            <div class="right">
                <a class="waves-effect waves-white btn green darken-4" ng-click="drillUp()">Contraer</a>
            </div>
        </div>
    </div>

    <div class="card hoverable z-depth-1" style="height: 90vh;">
        <div class="card-content">
            <div id="attendance_container"></div>            
        </div>
    </div>

</div>