<div class="container">
    <h4>{{activities.course.name}}</h4>    

    <h5>Edición de actividades</h5>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card hoverable z-depth-1">
                <div class="card-content">
                    <div class="input-field">
                        <input placeholder="Nombre" id="inputCourseName" type="text" ng-model="activities.course.name">
                        <label for="inputCourseName"><i class="left material-icons">input</i>Nombre del curso</label>
                    </div>
                    <p><b>Niveles:</b> {{activities.course.levels}}</p>
                    <p><b>Nodos:</b> {{activities.course.activities}}</p>
                    <p><b>Inscriptos:</b> {{activities.course.enrolled}}</p>
                    <p><b>Inicio:</b> {{getTime(4,activities.course.start)}}</p>
                    <p><b>Fin:</b> {{getTime(4,activities.course.end)}}</p>
                </div>
            </div>  
        </div>  

        <div class="col s12 m6 l6">
            <div class="card hoverable z-depth-1">
                <div class="card-content">

                </div>
            </div>  
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card hoverable z-depth-1">
                <div class="card-content">
                    <p><b>Actividad seleccionada</b></p>
                    <div class="input-field">
                        <input placeholder="" id="inputName" type="text" ng-model="selectedNode.name">
                        <label for="inputName"><i class="left material-icons">input</i>Nombre</label>
                    </div>
                    <div class="input-field">
                        <input placeholder="" id="inputScore" type="number" ng-model="selectedNode.score">
                        <label for="inputScore"><i class="left material-icons">score</i>Puntaje</label>
                    </div>
                </div>
            </div>  
        </div>  

        <div class="col s12 m6 l6">
            <div class="card hoverable z-depth-1">
                <div class="card-content">
                    <h5 ng-if="!selectedNode.children">Esta actividad no tiene sub-actividades</h5>
                    <table ng-if="selectedNode.children" class="highlight" style="max-width:100%;overflow-x:auto;display:inline-block;">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Proporción</th>
                            <th>Puntaje</th>
                            <th>Menú</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr ng-repeat="(key,row) in selectedNode.children">
                            <td>{{row.name}}</td>
                            <td>{{row.proportion}}</td>
                            <td>{{row.score}}</td> 
                            <td width="1%" style="white-space:nowrap;">
                                <a title="Seleccionar" class="waves-effect waves-light green darken-3 btn-small btn-floating z-depth-3" ng-click="selectActivity(row, true, false)">
                                    <i class="material-icons">check</i>
                                </a>
                                <a title="Eliminar" class="waves-effect waves-light red darken-3 btn-small z-depth-3 btn-floating">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                    <div class="row right">
                        <a title="Nueva sub-actividad" class="btn-floating btn-small green darken-1"><i class="large material-icons">add</i></a>
                    </div>
                </div>
            </div>  
        </div>
    </div> 


    <h5>Previsualización</h5>
    <div class="row">
        <div class="col s12 m6 l6">
            <div class="card hoverable z-depth-1">
                <div class="card-content" style="padding:0">
                    <div id="sunburst_container" style="height:500px"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="card hoverable z-depth-1">
                <div class="card-content" style="padding:0">
                    <div id="tree_container" style="height:500px"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row right">
        <a href="#/courses" class="waves-effect waves-white btn red darken-4">Descartar</a>
        <a class="waves-effect waves-white btn green darken-4" ng-click="saveCourse()">Guardar</a>
    </div>
</div>




