<div class="container">
    <h4>{{activities.course.name}}</h4>    
    <h4>Previsualización</h4>
</div>

<div class="row">
    <div class="col m12 l6">
        <div class="card hoverable z-depth-1">
            <div class="card-content">
                <div id="sunburst_container"></div>
            </div>
        </div>
    </div>
    <div class="col m12 l6">
        <div class="card hoverable z-depth-1">
            <div class="card-content">
                <div id="tree_container"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h4>Edición</h4>
    <div class="row"></div>

</div>

<div class="fixed-action-btn">
    <a href="#/courses" class="waves-effect waves-white btn red darken-4">Descartar</a>
    <a class="waves-effect waves-white btn green darken-4" ng-click="saveCourse()">Guardar</a>
</div>