<div class="container">
  <h4>Tabla de verdad interactiva
    <sup class="modal-trigger" style="cursor: pointer" data-target="tutorial_modal">
      <i class="small material-icons">help</i>
    </sup>
  </h4>
  <div>
    <div class="card hoverable z-depth-1">
      <div class="card-content">
        <div class="row">          
          <div class="row">
            <div class="col s12 m6">
              <div class="col s12 m6 input-field">
                <input class="validate" id="inputSize" type="number" ng-model="varsNum" ng-change="varNumChange()"
                  min="2" max="6">
                <label for="inputSize">Cantidad de variables</label>
              </div>
              <div class="col s12 m6 input-field">
                <label>
                  <input class="filled-in" type="checkbox" ng-model="showDCares" ng-change="dCareChange()" />
                  <span>Don't cares</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="tutorial_modal" class="modal">

  <div class="modal-content">
    <h3>Tabla de verdad interactiva</h3>

    <p>Instrucciones de uso:</p>

    <ol>
        <li>Seleccione la cantidad de variables (entre 2 y 6 únicamente).</li>
        <li>Puede seleccionar la opción "Don't cares" para incluir términos redundantes.</li>
        <li>Seleccione los casilleros de la tabla haciendo click para alternar entre valores.</li>
    </ol>
  </div>
</div>