<style>
    /* Barras de resultados test */
    .progress-area {
    width: 100%;
    background-color: #ddd;
    }

    .progress-bar {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: white;
    }
</style>

<p><b>Test Felder & Silverman</b></p>
<div class="row">
    <div class="col s2">
        Activo
    </div>
    <div class="progress-area col s8">
        <div class="progress-bar" id="scale_0" style="background-color: #08088A"></div>
    </div>
    <div class="col s2">
        Reflexivo
    </div>
</div>
<div class="row">
    <div class="col s2">
        Sensorial
    </div>
    <div class="progress-area col s8">
        <div class="progress-bar" id="scale_1" style="background-color: #8A0808"></div>
    </div>
    <div class="col s2">
        Intuitivo
    </div>
</div>
<div class="row">
    <div class="col s2">
        Visual
    </div>
    <div class="progress-area col s8">
        <div class="progress-bar" id="scale_2" style="background-color: #0B610B"></div>
    </div>
    <div class="col s2">
        Verbal
    </div>
</div>
<div class="row">
    <div class="col s2">
        Secuencial
    </div>
    <div class="progress-area col s8">
        <div class="progress-bar" id="scale_3" style="background-color: #886A08"></div>
    </div>
    <div class="col s2">
        Global
    </div>
</div>
<ul>
    <li id="prof_0"></li>
    <li id="prof_1"></li>
    <li id="prof_2"></li>
    <li id="prof_3"></li>
</ul>