<div class="container">
  <!-- Lista de usuarios -->
  <div class="section" ng-init="showAll = false">
    
    <div class="row" ng-if="users">
      <h5>Usuarios</h5>
    </div>

    <div class="row">
      <div class="col s2">
          <a class="right waves-effect waves-grey btn-flat" ng-click="user_filter=''" style="margin-top:15px;"><i class="material-icons tiny">close</i></a>
      </div>
      <div class="input-field col s4" style="height: 50px; margin:0px;">
        <input id="filter_input" type="text" ng-model="user_filter">
        <label for="filter_input">Búsqueda</label>
      </div>
      <div class="col s6 valign-wrapper" style="height: 70px;">
        <div class="switch">
          <label>
            Curso actual
            <input type="checkbox" ng-model="showAll">
            <span class="lever"></span>
            Todos
          </label>
        </div>
      </div>
    </div>

    <table class="highlight" ng-if="users" style="max-width:100%;overflow-x:auto;display:inline-block;">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>LU</th>
          <th>Carrera</th>
          <th>Menu</th>
        </tr>
      </thead>

      <tbody>
        <tr style="padding: 1px 1px;" ng-repeat="(key,row) in (users | orderBy: orderTag : reverseOrder | filter : user_filter) track by $index" ng-show="showAll || (!row.admin && row.course == user.course)">
          <td><img class="circle" src="{{row.avatar}}" height="40px" width="40px"></td>
          <td data-target="view_modal" class="modal-trigger {{row.enrolled ? '':'red-text'}}" style="cursor: pointer" ng-click="viewUser(row.key)">
            {{row.name}} {{row.secondName}} <i class="material-icons" style="vertical-align:middle;"
              ng-if="row.admin">security</i>
          </td>
          <td>{{row.email}}</td>
          <td>{{row.lu}} <span title="Usuario aprobado" ng-if="row.enrolled" class="new badge green"
              data-badge-caption="inscr"></span></td>
          <td>{{row.degree}}</td>
          <td width="1%" style="white-space:nowrap;">
            <a title="Calificaciones" class="waves-effect waves-light orange btn-floating btn-small z-depth-3"
              ng-show="row.enrolled && !row.admin" ng-click="evalUser(row.key)"><i
                class="material-icons">playlist_add_check</i></a>
            <a title="Aceptar" class="waves-effect waves-light red btn-floating btn-small z-depth-3"
              ng-click="selectUser(row.key)" ng-hide="row.enrolled"><i class="material-icons">done_outline</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="scores_modal" class="modal wide-modal modal-fixed-footer">
  <div class="modal-content">

    <h5><b>Alumno:</b> {{users[selectedIndex].name}} {{users[selectedIndex].secondName}}</h5>
    <h5><b>LU:</b> {{users[selectedIndex].lu}}</h5>
    <div class="divider"></div>

    <h4>Calificaciones</h4>

    <div class="section">
      <table class="highlight">
        <thead>
          <tr>
            <th>Actividad</th>
            <th>Nota</th>
            <th>Valor</th>
            <th>Evaluó</th>
            <th>Fecha</th>
          </tr>
        </thead>

        <tbody>
          <tr class="{{auxiliaryScores[row.id].score!=users[selectedIndex].scores[row.id].score?'red-text':''}}"
            ng-repeat="(key,row) in activities" ng-show="row.value">
            <td>{{row.name}}</td>
            <td>
                <input class="{{auxiliaryScores[row.id].score!=users[selectedIndex].scores[row.id].score?'red-text':''}}"
                  type="number" min="0" max="100" step="1" ng-model="auxiliaryScores[row.id].score"
                  ng-change="auxiliaryScores[row.id].evaluator=user.uid;auxiliaryScores[row.id].timestamp=getTime(0)">
            </td>
            <td>{{row.value}}</td>
            <td title="Eliminar nota">
              <div class="chip" ng-if="auxiliaryScores[row.id].evaluator && auxiliaryScores[row.id].evaluator!='Cipressus'" ng-click="auxiliaryScores[row.id]=null;">
                <img src="{{users[getUserIndex[auxiliaryScores[row.id].evaluator]].avatar}}">
                {{users[getUserIndex[auxiliaryScores[row.id].evaluator]].name}}
              </div>
              <div class="chip" ng-if="auxiliaryScores[row.id].evaluator && auxiliaryScores[row.id].evaluator=='Cipressus'">
                <img src="images/mainlogo.png">
                Cipressus
              </div>
            </td>
            <td>
              <p ng-show="auxiliaryScores[row.id]">{{getTime(4,auxiliaryScores[row.id].timestamp)}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h4>Entregas</h4>

    <div class="section">
      <table class="highlight">
        <thead>
          <tr>
            <th>Actividad</th>
            <th>Vencimiento</th>
            <th>Entrega</th>
            <th>Costo</th>
            <th>Evaluó</th>
            <th>Fecha</th>
          </tr>
        </thead>

        <tbody>
          <tr class="{{auxiliarySubmits[row.id].submitted!=users[selectedIndex].submits[row.id].submitted?'red-text':''}}"
            ng-repeat="(key,row) in activities track by $index" ng-show="row.dl">
            <td>{{row.name}}</td>
            <td>{{getTime(4,row.dl.date)}}</td>
            <td>
              <input type="date" id="{{row.id}}">
            </td>
            <td>
              {{getCost(key)}}
            </td>
            <td title="Eliminar nota">
              <div class="chip" ng-if="auxiliarySubmits[row.id].evaluator" ng-click="deleteSubmit(row.id)">
                <img src="{{users[getUserIndex[auxiliarySubmits[row.id].evaluator]].avatar}}">
                {{users[getUserIndex[auxiliarySubmits[row.id].evaluator]].name}}
              </div>
            </td>
            <td>
              <p ng-show="auxiliarySubmits[row.id]">{{getTime(4,auxiliarySubmits[row.id].timestamp)}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal-footer">
    <a class="modal-close waves-effect waves-white btn green darken-4">Cancelar</a>
    <a class="waves-effect waves-white btn red darken-4" ng-click="saveScores()">Guardar</a>
  </div>
</div>

<div id="view_modal" class="modal wide-modal">
  <div class="modal-content">
    <div class="row">
      <div class="col s3">
        <img class="responsive-img" src="{{users[selectedIndex].avatar}}"></a>
      </div>
      <div class="col s6">
        <h4>{{users[selectedIndex].name}} {{users[selectedIndex].secondName}} <a
            ng-if="users[selectedIndex].admin">[admin]</a></h4>
        <h5 class="truncate"><i>{{users[selectedIndex].email}}</i></h5>
        <h5><b>LU:</b> <i>{{users[selectedIndex].lu}}</i></h5>
        <h5 class="truncate"><i>{{users[selectedIndex].degree}}</i></h5>
        <p><b>Usuario desde:</b>
          <i>{{users[selectedIndex].enrolled?getTime(3,users[selectedIndex].enrolled):"(Usuario no aprobado)"}}</i></p>
        <p><b>Último acceso:</b> <i>{{getTime(3,users[selectedIndex].activity.last_login)}}
            ({{getTime(5,users[selectedIndex].activity.last_login)}})</i></p>
        <p><b>Compañeros de comisión:</b> <a style="color:black;" ng-repeat="part in users[selectedIndex].partners"> {{users[getUserIndex[part]].secondName}}</a></p>
      </div>      
    </div>
    <div class="divider"></div>
    <div class="row" ng-show="!users[selectedIndex].admin">
      <div class="col s12 m6">
        <div id="variable_pie_container"></div>
      </div>
      <div class="col s12 m6" ng-show="users[selectedIndex].test_fs">        
        <test-results answers="{{users[selectedIndex].test_fs.answers}}"></test-results>
      </div>
    </div>
  </div>
</div>

<div id="message_modal" class="modal">
  <div class="modal-content">
    <h5>Enviar mensaje</h5>
    <p>Para {{users[selectedIndex].name}} ({{users[selectedIndex].email}})</p>
    <div class="input-field col s12">
      <textarea id="textarea" class="materialize-textarea" ng-model="message"></textarea>
      <label for="textarea">Mensaje</label>
    </div>
  </div>

  <div class="modal-footer">
    <a class="modal-close waves-effect waves-white btn green darken-4">Cancelar</a>
    <a class="waves-effect waves-white btn red darken-4" ng-click="sendMessage()">Enviar</a>
  </div>
</div>

<div id="confirm_enroll_modal" class="modal">
  <div class="modal-content">
    <h5>Confirme la operación</h5>
    <p>¿Desea aprobar el registro del usuario {{users[selectedIndex].name}} {{users[selectedIndex].secondName}} como alumno?</p>
    <p>El curso actual es: <b>{{activitiesTree.course.name}}</b></p>
    <p>El usuario aparecerá en los listados de alumnos para tomar asistencia o evaluar calificaciones y podrá ver el
      progreso de sus notas en la sección de dashboard.</p>
  </div>

  <div class="modal-footer">
    <a class="modal-close waves-effect waves-white btn green darken-4">Cancelar</a>
    <a class="waves-effect waves-white btn red darken-4" ng-click="enrollUser()">Confirmar</a>
  </div>
</div>